// estilo titulo:

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// variables

$base-yellow: #FFC72C;

.content-father{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 30px;
    background: white;
    border-radius: 12px;
    height: auto;
    padding: 20px;
    border: 1px solid $base-yellow;

    .title-blog-content{
        font-family: 'Playfair Display', serif !important;
    }

    .horizontal-rule-content{
        width: 70%;
        border: 1px solid $base-yellow; 
    }
}

.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 20px;

    .edit-button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 2px solid $base-yellow; // grosor, estilo, color
        background: none;
        outline: none;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover{
            transform: translateY(-5px);
            box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.4);
        }
    }

    .edit-icon{
        color: $base-yellow;
    }

    .delete-button{
        @extend .edit-button;
        border: 2px solid #E63946;
    }

    .delete-icon{
        color: #E63946;
    }
}