//* {
    //outline: 1px solid red; /* Muestra los bordes de todos los elementos */
//}

// variables

$base-yellow: #FFC72C;

.blogs-father-container{
    display: flex;
    height: 70vh;
    overflow-y: auto; // cuando los blogs pasen de 70vh ponemos barra de scroll
    flex-direction: column;
    margin-left: 4%;
    margin-top: 2%;


    .title-container{
        display: flex;
        align-items: center;
        gap: 10px;

        .book-icon{
            color: $base-yellow;
            height: 35px;
            width: 35px;
        }
    }


    .blogs-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .items-blogs-container{
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 30%;
            justify-content: space-between;
        }

        .items-blogs-container a{
            list-style: none;
            text-decoration: none;
            color: black;
            border-radius: 5px;
            padding: 10px;
            box-shadow: 4px 4px 10px rgba(150, 150, 150, 0.3);
            transition: transform 0.3s ease, box-shadow 0.3s ease; //

            &:hover{
                transform: translateY(-5px); //Eleva la caja 5px 
                box-shadow: 6px 6px 15px rgba(100, 100, 100, 0.4); // aumentamos la sombra
            }
        }

        .items-blogs-container li{
            list-style: none;
            text-decoration: none;
            color: black;
        }

        .blogs-items-design{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .eye-icon{
                color: $base-yellow;
            }
        }

        .blog-button{
            position: relative;
            width: 40px; /* Tamaño inicial */
            height: 40px;
            background-color: $base-yellow;
            color: white;
            border: none;
            border-radius: 50%; /* Hace que el botón sea circular */
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            overflow: hidden;
            transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;

            &:hover{
                width: 140px; /* Se expande horizontalmente */
                border-radius: 30px; /* Hace que los bordes sean más suaves */

                &:hover .plus-icon{
                    transform: rotate(90deg);
                    left: 20px;
                }

                &:hover .button-text{
                    opacity: 1;
                    left: 50px;
                }
            }

            .plus-icon {
                position: absolute;
                transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
            }
        }

        .button-text {
            position: absolute;
            opacity: 0;
            white-space: nowrap;
            font-size: 13px;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

.foot-container-blogs{
    display: flex;
    justify-content: center;
}